[Unit]
Description=Enable Nvidia GPU runtime PM
# After=dev-pci-0000:01:00.0.device
# After=systemd-modules-load.service
After=graphical.target
# BindsTo=dev-pci-0000:01:00.0.device

[Service]
Type=oneshot
ExecStart=/usr/local/lib/999-legion-pm-fix-temp/set-pm-auto.sh

[Install]
WantedBy=graphical.target